.facts {
    padding-bottom: 30px;
  }
  
  .facts .count-box {
    padding: 30px;
    width: 100%;
  }
  
  .facts .count-box i {
    display: block;
    font-size: 44px;
    color: #a11212;
    float: left;
    line-height: 0;
  }
  
  /* .facts .count-box span {
    font-size: 48px;
    line-height: 40px;
    display: block;
    font-weight: 700;
    color: #5c0a0a;
    margin-left: 60px;
  } */
  
  .facts .count-box p {
    padding: 15px 0 0 0;
    margin: 0 0 0 60px;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    color: #730d0d;
  }
  
  .facts .count-box a {
    font-weight: 600;
    display: block;
    margin-top: 20px;
    color: #730d0d;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    transition: ease-in-out 0.3s;
  }
  
  .facts .count-box a:hover {
    color: #730d0d;
  }